<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/brucebanner.css">
  <link rel="stylesheet" href="../styles/master.css">

  <!-- have to fix all the rest of the html pages btw  -->
  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/uNBqkqe.png" height=6% width=6%> Bruce Banner <img src="https://i.imgur.com/uNBqkqe.png" height=6% width=6%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div id="Content">
   <h2>About</h2>
   <p>Hello, my name is Bruce. I have several PhDs in different fields of science, but you can call me the doctor of love. My ideal date would be reading books together curled up next to the fire. I hope you like science, cause I got my ion you.</p>
   <h2> Likes </h2>
     <ul>
       <li>Learning</li>
       <li>Helping Others</li>
       <li>Serenity</li>
    </ul>
  <h2> Top 5 Favorite Studies </h2>
    <ol>
      <li>Radiation Emission and Absorption According to the Quantum Theory -Einstein,Albert (1916)</li>
      <li>The Mathematical Theory of Relativity -Eddington,  Arthur Stanley (1923)</li>
      <li>Radiation Botany -Arnold H. Sparrow (1966)</li>
      <li>Isotopic Variation of Parity Violation in Atomic Ytterbium - D. Antypas (2018)</li>
      <li>Your eyes</li>
    </ol>
  </div>

<div id="BruceBackground_left" class="Background_left">
     <h3></h3>
   </div>

 <div id="BruceBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://i.imgur.com/uNBqkqe.png" height=30px width=50px> </div>

</body>
