<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/captainamerica.css">
  <link rel="stylesheet" href="../styles/master.css">

  <!-- have to fix all the rest of the html pages btw  -->
  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/80y2Nwn.png" height=5% width=5%> Captain America <img src="https://i.imgur.com/80y2Nwn.png" height=5% width=5%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div id="Content">
   <img src="https://media0.giphy.com/media/WrBSHRLE9gEgM/giphy.gif?cid=3640f6095bf3e3be517258456fc2a20a" class="center">
   <h2>About</h2>
   <p>Good evening, I'm Captain America! I fought for your country, and I'll fight for you. My ideal date includes volunteering at a soup kitchen followed by ice skating and hot coco. My sheild may be strong, but it couldn't deflect my feelings for you. </p>
   <h2> Likes </h2>
     <ul>
       <li>Justice</li>
       <li>Freedom</li>
       <li>Accountibility</li>
       <li>Dancing</li>
    </ul>
  <h2> Top 5 Songs </h2>
    <ol >
      <li>Paper Doll - The Mills Brothers</li>
      <li>Sunday, Monday, or Always - Bing Crosby</li>
      <li>Georgia on my Mind - Hoagy Carmichael</li>
      <li>Goofus - Phil Harris</li>
      <li>Shake it Off - Taylor Swift </li>
    </ol>
    <h2>Social Media</h2>
    <p>Get to know your mans better! A relationship can't start if you don't connect! Click below to check them out on social social media~</p>
    <p class="links"><a href="https://www.instagram.com/official_captainamerica/"> Check out Captain America on Instagram! </a> </p>
    <p class="links"><a href="https://twitter.com/CaptainAmerica"> Check out Captain America on Twitter! </a> </p>
  </div>

     <h3></h3>
     <div id="CaptainBackground_left" class="Background_left">
   </div>

 <div id="CaptainBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://i.imgur.com/80y2Nwn.png" height=50px width=50px> </div>

</body>
