<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/captainamerica.css">
  <link rel="stylesheet" href="../styles/master.css">

  <!-- have to fix all the rest of the html pages btw  -->
  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="../media/shield.png" height=5% width=5%> Captain America <img src="../media/shield.png" height=5% width=5%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div id="Content">
   <h2> content </h2>
   <h2>About</h2>
   <p>Good evening, I'm Captain America! I fought for your country, and I'll fight for you. My ideal date includes volunteering at a soup kitchen followed by ice skating and hot coco. My sheild may be strong, but it couldn't deflect my feelings for you. </p>
   <h2> Likes </h2>
     <ul>
       <li>Justice</li>
       <li>Freedom</li>
       <li>Accountibility</li>
       <li>Dancing</li>
    </ul>
  <h2> Top 5 Songs </h2>
    <ol>
      <li>Paper Doll - The Mills Brothers</li>
      <li>Sunday, Monday, or Always - Bing Crosby</li>
      <li>Georgia on my Mind - Hoagy Carmichael</li>
      <li>Goofus - Phil Harris</li>
      <li>Shake it Off - Taylor Swift </li>
    </ol>
   <iframe src="https://www.instagram.com/official_captainamerica/" height=50% width=50%></iframe>


  </div>

<div id="Background_left">
     <h3></h3>
   </div>

 <div id="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="../media/shield.png" height=50px width=50px> </div>

</body>
