<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="/Users/bluec/cssi2018/Forney 185 Fall/Mans of Marvel Website/styles/.css">
  <link rel="stylesheet" href="/Users/bluec/cssi2018/Forney 185 Fall/Mans of Marvel Website/styles/master.css"> -->
</head>

<h1>noot noot</h1>

<iframe src="https://giphy.com/embed/TVPJNp47j5EA0" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/chris-farley-pingu-guidance-counselor-TVPJNp47j5EA0">via GIPHY</a></p>
