<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/game.css">
  <link rel="stylesheet" href="../styles/master.css">

  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/YJMYTZP.png" height=6% width=6%> ~Fish for your man~ <img src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Roses-PNG/Transparent_Beautiful_Red_Rose_PNG_Picture.png?m=1507172107" height=6% width=6%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html" id="gamepage"> Game </a> </h3>
 </div>


 <div id="Game">
   <link rel="stylesheet" type="text/css" href="styles.css">

 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
     <title></title>
   </head>
   <body>
<div id="GameScreen">
    <div id="progressBar">
      <div id="progress">PROGRESS</div>
    </div>
    <div id="WelcomeBox">
      <h1 id="GamePrompt">Are you ready to reel in a bae?</h1>
      <h2> <b id="how2"> HOW TO PLAY </b> <b id="start"> START </b>
    </div>
    <div id="rod">
      <div id="fishbar"></div>
      <img id="heart" src="http://www.clker.com/cliparts/E/R/P/0/M/i/heart.svg" width="70%"/>
      </div>
      <div id="LoseCard">
          There are plenty of fish in the sea but none are seeming to bite...
      <div id="LoseFace">  </div>
      </div>
      <div id="WinCard">
          Congratulations! You caught:
      <div id="WinFace">  </div>
      </div>
  </div>

   </body>
   <script src="../scripts/game.js"></script>
 </html>



<div id="Background_left">
     <h3></h3>
   </div>

 <div id="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Roses-PNG/Transparent_Beautiful_Red_Rose_PNG_Picture.png?m=1507172107" height=30px width=50px> </div>




</body>

</div>
