<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/hawkeye.css">
  <link rel="stylesheet" href="../styles/master.css">

  <!-- have to fix all the rest of the html pages btw  -->
  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="../media/bow.png" height=6% width=6%> Hawkeye <img src="../media/bow.png" height=6% width=6%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div id="Content">
   <h2> content </h2>
   <h2>About</h2>
   <p>Target acquired, I'll shoot my arrow straight through your heart. Although I may not have superpowers like the rest of these guys, I can show you the power of love. My idea of a perfect date would be exploring Ikea, looking at how we can build a life together. Girl, you're my bullseye, and my arrow never misses.</p>
   <h2> Likes </h2>
     <ul>
       <li>Sunglasses</li>
       <li>Archery</li>
       <li>Cats</li>
       <li>Paul Blart Mall Cop</li>
    </ul>
  <h2> Top 5 Past Times </h2>
    <ol>
      <li>Wearing cool sunglasses</li>
      <li>Playing Trombone</li>
      <li>Kicking ass at Mario Kart</li>
      <li>Wearing scarves and berets</li>
      <li>Serenading a lovely lady like yourself</li>
    </ol>
  </div>

<div id="Background_left">
     <h3></h3>
   </div>

 <div id="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="../media/bow.png" height=30px width=50px> </div>

</body>
