<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/home.css">
  <link rel="stylesheet" href="../styles/master.css">

  <!-- have to fix all the rest of the html pages btw  -->
  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/YJMYTZP.png" height=6% width=6%> The Mans of Marvel <img src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Roses-PNG/Transparent_Beautiful_Red_Rose_PNG_Picture.png?m=1507172107" height=6% width=6%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div id="Content">
   <h1>Welcome to the Mans of Marvel</h1>
  <img src="https://media2.giphy.com/media/eR0GYL4J8UxEI/giphy.gif?cid=3640f6095bf3e7407a694b3951f0b39a" class="center">
   <h2>Are you ready to find love?</h2>
   <p>Click on the pictures above to read about our different eligible bachelors. Don't know who to choose? Play our love game to find your perfect match!</p>
   <h2>We hope you find your new bae! <3</h2>
  </div>

<div id="HomeBackground_left" class="Background_left">
     <h3></h3>
   </div>

 <div id="HomeBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Roses-PNG/Transparent_Beautiful_Red_Rose_PNG_Picture.png?m=1507172107" height=30px width=50px> </div>

</body>
