<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/master.css">

  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/NYODSu9.png" height=6% width=6%> The Hulk <img src="https://i.imgur.com/NYODSu9.png" height=6% width=6%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div class="Content" id="HulkContent">
   <img src="https://media1.giphy.com/media/XSc4Kkc5u2WZy/giphy.gif?cid=3640f6095bf3e623776f56382e4cc37c" class="center">
   <h2>About</h2>
   <p>Hulk SMAASHH (you ;))</p>
   <h2> urrrg? </h2>
     <ul>
       <li>Urghh!</li>
       <li>UNNNNNNNG</li>
        <li>Urrrrr</li>
    </ul>
  <h2> HNRGHHHHH </h2>
    <ol>
      <li>Urgh</li>
      <li>URRGGHHH!</li>
      <li>Urrrr...</li>
    </ol>
    <h2>Social Media</h2>
    <p>Get to know your mans better! A relationship can't start if you don't connect! Click below to check them out on social social media~</p>
    <p class="links"><a href="https://www.instagram.com/the_hulk_official/"> Check out Hulk on Instagram! </a> </p>
    <p class="links"><a href="https://twitter.com/Hulk"> Check out Hulk on Twitter! </a> </p>
  </div>

<div id="HulkBackground_left" class="Background_left">
     <h3></h3>
   </div>

 <div id="HulkBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://i.imgur.com/NYODSu9.png" height=30px width=50px> </div>

</body>
