<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/master.css">

  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/c1f2lcm.png" height=4% width=4%> Ironman <img src="https://i.imgur.com/c1f2lcm.png" height=4% width=4%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div class="Content" id="ManContent">
 <img src="https://media0.giphy.com/media/11e56tPCqD9kjK/giphy.gif?cid=3640f6095bf3e4df6956344449237c41" class="center">
    <h2>About</h2>
   <p>Hey ladies, I'm Tony. Genius. Billionare. Playboy. Philanthropist. I have all the money you could possibily imagine, and I can take you anywhere you want to go. I'm confident, rich, intelligent...What else needs to be said?</p>
   <h2> Likes </h2>
     <ul>
       <li>Money</li>
       <li>Technology</li>
       <li>Being Rich</li>
       <li>Inventing</li>
    </ul>
  <h2> My Top 5 Mansions </h2>
    <ol>
      <li>Malibu (pre-destruction)</li>
      <li>Fiji</li>
      <li>New York</li>
      <li>Hawaii</li>
      <li>Guam</li>
    </ol>
    <h2>Social Media</h2>
    <p>Get to know your mans better! A relationship can't start if you don't connect! Click below to check them out on social social media~</p>
    <p class="links"><a href="https://www.instagram.com/ironman.official/?hl=en"> Check out Ironman on Instagram! </a> </p>
    <p class="links"><a href="https://twitter.com/Iron_Man?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> Check out Ironman on Twitter! </a> </p>
  </div>

<div id="ManBackground_left" class="Background_left">
     <h3></h3>
   </div>

 <div id="ManBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018
   <br/>
 <img src="https://i.imgur.com/c1f2lcm.png" height=50px width=50px> </div>

</body>
