<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/master.css">

  <title></title>

</head>

<body>

 <div id="Title">
   <h1> <img src="https://i.imgur.com/ZSmcSLj.png" height=7% width=7%> Thor <img src="https://i.imgur.com/ZSmcSLj.png" height=7% width=7%> </h1>
 </div>


 <div id="Section1" class="menu">
   <h3> <a href= "home.html"> Home </a> </h3>
 </div>

 <div id="Section2" class="menu">
    <h3> <a href= "captainnamerica.html"> Captain America </a> </h3>
 </div>

 <div id="Section3" class="menu">
   <h3> <a href= "ironman.html"> Ironman  </a> </h3>
 </div>

 <div id="Section4" class="menu">
   <h3> <a href= "thor.html"> Thor </a> </h3>
 </div>

 <div id="Section5" class="menu">
    <h3> <a href= "brucebanner.html"> Bruce Banner </a> </h3>
 </div>

  <div id="Section6" class="menu">
    <h3> <a href= "hawkeye.html"> Hawkeye </a> </h3>
 </div>

  <div id="Section7" class="menu">
    <h3> <a href= "hulk.html"> Hulk </a> </h3>
 </div>

  <div id="Section8" class="menu">
    <h3> <a href= "spiderman.html"> Spiderman </a> </h3>
 </div>

  <div id="Section9" class="menu">
    <h3> <a href= "game.html"> Game </a> </h3>
 </div>


 <div class="Content" id="ThorContent">
   <img src="https://media1.giphy.com/media/qWoubkSvQxN1C/giphy.gif?cid=3640f6095bf3e63f4643656a45eedcf6" class="center">
   <h2>About</h2>
   <p>Hello! It is I! The great and powerful Thor, God of the Sky and Thunder! I would love to take a mortal like yourself for a night of drinking and parties! And let's face it, you cannot deny our electric connection!</p>
   <h2> Likes </h2>
     <ul>
       <li>Drinking!</li>
       <li>Parties!</li>
       <li>Snakes!</li>
       <li>My Hammer!</li>
    </ul>
  <h2> Top 5 Mortal Items! </h2>
    <ol>
      <li>Beer!</li>
      <li>Fast food!</li>
      <li>Coffee!</li>
      <li>More Beer!</li>
      <li>Breakable glassware!</li>
    </ol>
    <h2>Social Media</h2>
    <p>Get to know your mans better! A relationship can't start if you don't connect! Click below to check them out on social social media~</p>
    <p class="links"><a href="https://www.instagram.com/thormovie/?hl=en"> Check out Thor on Instagram! </a> </p>
    <p class="links"><a href="https://twitter.com/thorofficial"> Check out Thor on Twitter! </a> </p>
  </div>

<div id="ThorBackground_left" class="Background_left">
     <h3></h3>
   </div>

 <div id="ThorBackground_right" class="Background_right">
     <h3></h3>
   </div>

 <div id="Footer"> Salem & Elise 2018 </a>
   <br/>
 <img src="https://i.imgur.com/ZSmcSLj.png" height=30px width=50px> </div>

</body>
