
#GameScreen {
  height: 590px;
  width: 950px;
  border: 5px solid black;
  font-family: 'VT323', monospace;
  /* opacity: 0.25; */
  background-image: url("https://i.imgur.com/fa0j0d1.jpg");
}

#WelcomeBox{
  border: 5px solid black;
  width: 400px;
  padding: 20px;
  font-size:20px;
  display: inline-block;
  text-align: center;
  margin: 25% 30% 25% 30%;
  background-color: white;
}

#rod{
  border: 8px solid black;
  height: 500px;
  width: 75px;
  margin: 1% 0% 0% 10%;
  border-radius: 10px;
  background-color: skyblue;
  display: none;
  float: left;
}

#fishbar{
  position: relative;
  top: 0px;
  border: 10px solid green;
  height: 70px;
  background-color: green;
  margin: 0 auto;

}
#heart{
  position: relative;
  margin: -70px 1px 1px 13px;
  top: 0px;
}

#progressBar{
  margin: 1%;
  border: 5px solid black;
  width: 800px;
  border-radius: 10px;
  display: none;
  height: 30px;
  background-color: pink;
}

#progress{
  border: 5px solid red;
  font-size: 20px;
  border-radius: 4px;
  width: 395px;
  text-align: left;
  background-color: red;
}
