@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Parisienne');

.menu {
  font-family: 'Pinyon Script', cursive;
  font-size: 21px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px black;
  padding: 8px;
}

.menu:hover {
  opacity: 0.5;
  transition: 1.5s;
}

#Title {
  font-size: 170%;
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  grid-column: 1 / span 9;
  grid-row: 1 / span 2;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/TtcstKI/flying-romantic-light-red-rose-flower-petals-falling-background-loop-4k_riem4x_il_thumbnail-full01.png");
  color: black;
  text-shadow: 1px 1px 5px white;
}

#Section1 {
  grid-column: 1;
  grid-row: 3;
  background-image: url("https://i.imgur.com/D9aDOFM.jpg");
  background-position: top;
}

#Section2 {
  grid-column: 2;
  grid-row: 3;
  background-image: url("https://i.imgur.com/H0tY7i6.jpg");
  background-position: top;
}

#Section3 {
  grid-column: 3;
  grid-row: 3;
  background-image: url("https://i.imgur.com/qRrjNeD.jpg");
  background-position: top;
}

#Section4 {
  grid-column: 4;
  grid-row: 3;
  background-image: url("https://i.imgur.com/PqbE4pv.jpg");
  background-position: top;
}

#Section5 {
  grid-column: 5;
  grid-row: 3;
  background-image: url("https://i.imgur.com/bYRrYoZ.jpg");
  background-position: top;
}

#Section6 {
  grid-column: 6;
  grid-row: 3;
  background-image: url("https://i.imgur.com/hSDHaGf.jpg");
  background-position: top;
}

#Section7 {
  grid-column: 7;
  grid-row: 3;
  background-image: url("https://i.imgur.com/eVoy3UR.jpg");
  background-position: top;
}

#Section8 {
  grid-column: 8;
  grid-row: 3;
  background-image: url("https://i.imgur.com/nYdzUjf.jpg");
  background-position: top;
}

#Section9 {
  grid-column: 9;
  grid-row: 3;
  background-image: url("https://i.imgur.com/s9aB8rs.jpg");
  background-position: top;
}

#Game {
  grid-column: 2 / span 7;
  grid-row: 4 / span 4;
  overflow: none;
}

.Content {
  font-size: 200%;
  grid-column: 2 / span 7;
  grid-row: 4 / span 4;
  margin: 0% 14% 0% 14%;
  overflow: scroll;
  font-family: 'Parisienne', cursive;
}

#Footer{
  text-align: center;
}

.Background_left {
  grid-column: 1 / span 2;
  grid-row: 4 / span 4;

}

.Background_right {
  grid-column: 8 / span 9;
  grid-row: 4 /span 4;
}

.Background_left, .Background_right{
  opacity: 0.5;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links:hover {
  color: blue;
}

#BruceBackground_left, #BruceBackground_right {
  background-image: url("https://i.imgur.com/zA7qr7n.jpgg");
}

#CaptainBackground_left, #CaptainBackground_right {
  background-image: url("http://media.comicbook.com/2016/07/captain-america-the-first-avenger-wallpaper-26-188840.jpg");
  background-position: center;
}

#HawkBackground_left, #HawkBackground_right {
  background-image: url("https://i.imgur.com/FqMKHtd.jpg");
  background-position: center;
}

#HulkBackground_left, #HulkBackground_right {
  background-image: url("https://i.imgur.com/xtkrLm8.jpg");
  background-position: top;
}

#SpiderBackground_left, #SpiderBackground_right {
  background-image: url("https://i.imgur.com/lWwEiRG.jpg");
  background-position: top;
}

#ThorBackground_left, #ThorBackground_right {
  background-image: url("https://i.imgur.com/Vyy0I87.jpg");
  background-position: top;
}

#ManBackground_left, #ManBackground_right {
  background-image: url("https://i.imgur.com/iXKPOwj.jpg");
  background-position: top;
}

#HomeBackground_left, #HomeBackground_right {
  background-image: url("https://i.imgur.com/KjHu4zQ.png");
}

#Footer {
  grid-column: 1 / span 9;
  grid-row: 8;
  background-color: black;
  color: rgb(153, 0, 0);
}

#BruceContent{
  background-color: rgb(179, 102, 255);
  /* background-color: rgb(191, 255, 128); */
}

#CaptainContent{
  background-color: rgb(0, 134, 179);
}

#HawkContent{
  background-color: rgb(102, 153, 153);
}

#HulkContent{
  background-color: rgb(64, 128, 0);
}

#ManContent{
  background-color: rgb(179, 0, 0);
}

#SpiderContent{
  background-color: rgb(255, 51, 51);
}

#ThorContent{
  background-color: rgb(255, 255, 153);
}


h1{
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}

div {
  /* text-align: center; */
  border: 2px solid white;
  grid-gap: 5px;
}


body{
  background-image-opacity: 0.5;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Game CSS */


#GameScreen {
  height: 590px;
  width: 950px;
  border: 5px solid black;
  font-family: 'VT323', monospace;
  background-image: url("https://i.imgur.com/fa0j0d1.jpg");
}

#WelcomeBox{
  border: 5px solid black;
  width: 400px;
  padding: 20px;
  font-size:20px;
  display: inline-block;
  text-align: center;
  margin: 10% 30% 25% 30%;
  background-color: white;
}

#options{
   padding: 0% 10% 0% 10%;
}

#how2{
  float: left;
}

#start{
  float: right;
}

#how2:hover, #start:hover{
  color: green;
}

#EndCard{
 border: 5px solid black;
  width: 400px;
  padding: 20px;
  font-size:20px;
/*   display: inline-block; */
  display: none;
  text-align: center;
  margin: 10% 30% 10% 30%;
  background-color: white;
}

#PrizeFace{
  background-image: url(https://media2.giphy.com/media/As8vsXFOOCsJW/giphy.gif?cid=3640f6095bf3e1cc625973524958ddfb );
  height: 250px;
  width: 400px;
}

#rod{
  border: 8px solid black;
  height: 500px;
  width: 75px;
  margin: 1% 0% 0% 10%;
  border-radius: 10px;
  background-color: skyblue;
  display: none;
  float: left;
}

#fishbar{
  position: relative;
  top: 0px;
  border: 10px solid green;
  height: 70px;
  background-color: green;
  margin: 0 auto;

}
#heart{
  position: relative;
  margin: -70px 1px 1px 13px;
  top: 0px;
}

#progressBar{
  margin: 1% 1% 1% 10%;
  border: 5px solid black;
  width: 800px;
  border-radius: 10px;
  display: none;
  height: 30px;
  background-color: pink;
}

#progress{
  border: 5px solid red;
  font-size: 20px;
  border-radius: 4px;
  width: 395px;
  text-align: left;
  background-color: red;
}
